:root{
    --clr-mylist:white;
    --clr-mylist2:#E5EFA8
    --clr-remainingtask:#666666;
    --clr-pink:#FF3366;

}


body{

    font-family: 'Raleway', sans-serif;
   display:grid;
   letter-spacing: 2px;
   background-image:url('images/special-delivery.jpg');
   background-repeat: repeat;
   grid:"header header header header" auto 
   "..... lists tasks ......" auto/
   1fr minmax(150px,300px) minmax(250px,400px) 1fr;
 
}



.titlecontainer
{
    display: inline-block;
    grid-area:lists;
    background-color:#45858C;  
    color:var(--clr-mylist);
    padding:1rem;
    margin-right:1rem;
   
}
.activitiescontainer
{
  
   grid-area:tasks;
    padding: 1rem;
    background-color: white;

}
.Title
{

grid-area:header;
text-align:center;
font-size:50px;
color:blueviolet;
cursor:pointer;
}
.tspan
{
    color:var(--clr-pink)
}
@media (max-width:940px) {


    
body{

    font-family: 'Raleway', sans-serif;
   display:flex;
   flex-direction:column;
justify-content:center;
   background-image:url('images/bg2.jpg');
    padding:10px;

}

.activitiescontainer
{
    
    width:100%;
    margin-top:1rem;

}
.titlecontainer
{

    background-color:black;
    width:100%;
}
.Title
{
   color:white;    
    margin-left:0;

}
    
    
}
