*{
box-sizing: border-box;
}
  .slider
  {
  

  display:flex;
  height:12px;
  width: 350px;
  background-color:dimgrey;
  border-radius:25px;
  padding:1px;
 
  }
  
  .bgslider{
    
align-self: center;
  width:10px;
    height:8px;
    border-radius:15px;
    background-image:linear-gradient(to right, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
  
  }